.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    background: linear-gradient(300deg, #3976ff, #ffffff);
    background-size: 120% 120%;
    animation: gradient-animation 6s ease infinite;
}
.container3 p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}
.usercard2 {
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    margin: 1rem;
}
ul{
    padding: 0%;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50vh;
    width: 50vw;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
}